:root {
    --spinner-diameter: 520px;
}

#spinner-container {
    width: 700px;
    /* height: 700px; */
    height: 100vh;
    margin: 0 auto;
}

#spinner {
    width: var(--spinner-diameter);
    height: var(--spinner-diameter);
    border-radius: 50%;        
    text-align: center;
    box-shadow: 0 0 15px #000;
    background-image: url('spinner.png');
    background-position: center;
    background-color: black; 
    margin: 0 auto;
    position: relative;
}

#marker {
    font-size: 2rem;
    color: white;
    /* margin-left: 35%; */
    position: absolute;
    left: 49%;    
    width: 30px;
    height: 40px;
    z-index: 10;
    box-shadow: 2px 2px 2px #333;
    border-bottom: solid 1px #000;
    border-radius: 5px;
    background-color: #000;
    text-align: center;
}

.spin-button {
    background-color: #00F;
    border: solid 1px #000;
    color: white;
    font-size: 2rem;
    padding: 1rem;
}