:root {
  --spinner-diameter: 520px;
  --spinner-diameter-small: 300px;
}

body {
  background-color: #222;
  font-family: "Roboto";
  color: #222;
  background-image: url("images/body-bg.png");
}

a {
  text-decoration: none;
  color: #2a41c4;
}

a:visited {
  color: #2a41c4;
}

#main-container {
  width: 50vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-column-gap: 10px;
  grid-row-gap: 1rem;
}

#logo {
  color: white;
  text-align: center;
}

#about {
  border: solid 3px #000;
  background-color: white;
  font-size: 1.2rem;
  position: absolute;
  top: 30%;
  left: -40%;
  width: 20rem;
  border-radius: 5px;
  padding: 1rem;
  z-index: 5;
  box-shadow: 5px 5px 5px #222;
  transition: left 300ms ease-out;
}

#about h2 {
  margin: 0;
}

#about-ok-button {
  background-color: #c42a89;
  border: solid 3px #000;
  border-radius: 5px;
  color: white;
  font-size: 1.5rem;
  padding: 0.5rem;
  width: 100%;
  height: 100%;
  outline: none;
}

#about-ok-button:active {
  background-color: #000;
}

#about-show-button {
  background-color: #2a41c4;
  border: solid 3px #000;
  border-radius: 5px;
  color: white;
  outline: none;
  font-size: 1.5rem;
  padding: 0.5rem;
}

#about-show-button:active {
  background-color: #000;
}

#spinner-container {
  padding: 40px 20px 0 20px;
  width: 520px;
  height: 520px;
  overflow: hidden;
  background-image: url("images/spinner-bg-legs.png");
  background-position: center;
  grid-column: 1/3;
  margin: 0 auto;
}

#spinner {
  width: var(--spinner-diameter);
  height: var(--spinner-diameter);
  border-radius: 50%;
  box-shadow: 0 0 15px #000;
  background-image: url("images/spinner.png");
  background-position: center;
}

#logo-container {
  grid-column: 1/3;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

#logo-container h1 {
  margin-right: 1rem;
}

#button-container {
  grid-column: 1/3;
  display: flex;
  justify-content: center;
}

.spin-button {
  background-color: #c42a89;
  border: solid 3px #000;
  border-radius: 5px;
  color: white;
  font-size: 1.5rem;
  padding: 0.5rem;
  width: 100%;
  outline: none;
}

@media (max-width: 800px) {
  #main-container {
    display: block;
    width: 100%;
    margin: 0;
  }

  #button-container {
    margin: 0 auto;
  }

  #spinner-container {
    height: 300px;
    width: 300px;
    background-image: url("images/spinner-bg-small.png");
    background-repeat: no-repeat;
    background-position: top center;
    padding: 20px 0 0 0;
    margin: 0 auto;
  }
  #spinner {
    background-color: transparent;
    width: var(--spinner-diameter-small);
    height: var(--spinner-diameter-small);
    background-image: url("images/spinner-small.png");
    box-shadow: none;
    margin: 0;
  }

  .spin-button {
    display: block;
  }

  #about {
    position: static;
    display: block;
    opacity: 1;
    width: 90%;
    margin: 1rem auto;
    box-shadow: none;
  }
  #about button {
    display: none;
  }
  #about-show-button {
    display: none;
  }
}
